[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.7"
attrs = "==19.3.0"
bootstrap4 = "==0.1.0"
certifi = "==2019.11.28"
cffi = "==1.14.0"
chardet = "==3.0.4"
constantly = "==15.1.0"
cryptography = "==2.8"
cssselect = "==1.1.0"
django-bootstrap4 = "==1.1.1"
django-crispy-forms = "==1.9.0"
django-crontab = "==0.7.1"
django-grappelli = "==2.14.1"
hyperlink = "==19.0.0"
idna = "==2.9"
importlib-metadata = "==1.6.0"
incremental = "==17.5.0"
lxml = "==4.6.5"
more-itertools = "==8.2.0"
parsel = "==1.5.2"
pluggy = "==0.13.1"
py = "==1.8.1"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.20"
pyhamcrest = "==2.0.2"
pyparsing = "==2.4.6"
pytest = "==5.4.1"
pytz = "==2019.3"
queuelib = "==1.5.0"
requests = "==2.23.0"
six = "==1.14.0"
soupsieve = "==2.0"
sqlparse = "==0.3.1"
urllib3 = "==1.25.8"
w3lib = "==1.21.0"
wcwidth = "==0.1.9"
zipp = "==3.1.0"
Automat = "==20.2.0"
Django = "==3.0.4"
Protego = "==0.1.16"
PyDispatcher = "==2.0.5"
pyOpenSSL = "==19.1.0"
service_identity = "==18.1.0"
Twisted = "==20.3.0"
"zope.interface" = "==5.0.1"
pytelegrambotapi = "*"

[requires]
python_version = "3.7"
