{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    {{ block.super }}

    <li class="breadcrumb-item active" aria-current="page">Edit profile</li>
{% endblock %}

{% block title %}Edit profile {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <h2>Profile</h2>
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ profile_form|crispy }}
                {{ user_form|crispy }}
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-outline-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4">
            <h2>Security</h2>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'microlearning:change_password' %}">Do you want to change password?</a>
        </div>
    </div>
{% endblock %}
