{% extends "baseregistration.html" %}
{% block title %}Create your account{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h1 class="h3 mb-3 font-weight-normal">You already have an account!</h1>
{% else %}
    <h1 class="h3 mb-3 font-weight-normal"> Create your account: </h1>

    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
    <p><input type="submit" value="Create" class="btn btn-outline-primary"></p>
    </form>
{% endif %}
{% endblock %}